{% extends "base.html" %}
{% block title %}Home{% endblock %}

{% block content %}
{% if email%}
<div class="section full">
    <p class="label">Account Settings</p>
    <div class="settings">
        <div class="settingsBox">
            <p class="label">Change Username</p>
            <form action="/account/changeUsername/" method="POST">
                <br><br>
                <p>New Username<br><input type="text" name="newUsername"></p><br>
                <p>Password<br><input type="password" name="password"></p><br><br>
                <input type="submit">
            </form>
        </div>
    </div>
</div>
{% endif %}
<div class="section full">
    {% if email%}
    <p class="label">Your Songs</p><br><br>
    {% else %}
    <p class="label">{{user_data[1]}}'s' Songs</p><br><br>
    {% endif %}
    <div class="songs">
        {% for result1 in data %}
        <div class="song">
            <div class="song-wrapper"><br>
                <p class="background blue">{{result1[0]}}</p><br><br>
                <p style='display: block; padding-bottom: 0;'>by <a class="nostyle" href="/account/{{result1[5]}}">[{{result1[1]}}]</a></p><br>
                <p>{{result1[2]}}</p><br><br><br>
                <a class="buttonMenuPlay" href="/play/{{result1[3]}}">[PLAY]</a><a class="buttonMenuCopy" href="/editor/{{result1[3]}}">[COPY]</a><br>&nbsp;
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}