{% extends "base.html" %}
{% block title %}Home{% endblock %}

{% block content %}
<div class="section full">
    <p class="label">Recently Created Songs</p><br><br>
    <div class="songs">
        {% for result in data %}
        <div class="song">
            <div class="song-wrapper"><br>
                <p class="background">{{result[0]}}</p><br><br>
                <p>by {{result[1]}}</p><br>
                <p>{{result[2]}}</p><br><br><br>
                <a class="buttonMenuPlay" href="/play/{{result[3]}}">[PLAY]</a><a class="buttonMenuCopy" href="/play/{{result[3]}}">[COPY]</a><br>&nbsp;
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}