{% extends "base.html" %}
{% block title %}Home{% endblock %}

{% block content %}
<div class="section full">
    <p class="label">Recently Created Songs</p><br><br>
    <div class="songs">
        {% for result in data %}
        <div class="song">
            <div class="song-wrapper">
                <p>{{result[0]}}</p><br>
                <p>by {{result[1]}}</p>
                <a href="/play/{{result[3]}}">Play</a><br><br>
                <p>{{result[2]}}</p>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}