{% extends "base.html" %}
{% block title %}Home{% endblock %}

{% block content %}
<div class="section full">
    <p class="label">Recently Created Songs</p><br><br>
    <div class="songs">
        <div class="song">
            <div class="song-wrapper">
                <p>Perfect Song</p><br>
                <p>by Toadally</p>
                <a href="/play/SONG_ID/">Play</a><br><br>
                <p>11/14/2020</p>
            </div>
        </div>

        <div class="song">
            <div class="song-wrapper">
                <p>Perfect Song</p><br>
                <p>by Toadally</p>
                <a href="/play/SONG_ID/">Play</a><br><br>
                <p>11/14/2020</p>
            </div>
        </div>

        <div class="song">
            <div class="song-wrapper">
                <p>Perfect Song</p><br>
                <p>by Toadally</p>
                <a href="/play/SONG_ID/">Play</a><br><br>
                <p>11/14/2020</p>
            </div>
        </div>

        <div class="song">
            <div class="song-wrapper">
                <p>Perfect Song</p><br>
                <p>by Toadally</p>
                <a href="/play/SONG_ID/">Play</a><br><br>
                <p>11/14/2020</p>
            </div>
        </div>

        <div class="song">
            <div class="song-wrapper">
                <p>Perfect Song</p><br>
                <p>by Toadally</p>
                <a href="/play/SONG_ID/">Play</a><br><br>
                <p>11/14/2020</p>
            </div>
        </div>

        <div class="song">
            <div class="song-wrapper">
                <p>Perfect Song</p><br>
                <p>by Toadally</p>
                <a href="/play/SONG_ID/">Play</a><br><br>
                <p>11/14/2020</p>
            </div>
        </div>

        <div class="song">
            <div class="song-wrapper">
                <p>Perfect Song</p><br>
                <p>by Toadally</p>
                <a href="/play/SONG_ID/">Play</a><br><br>
                <p>11/14/2020</p>
            </div>
        </div>

        <div class="song">
            <div class="song-wrapper">
                <p>Perfect Song</p><br>
                <p>by Toadally</p>
                <a href="/play/SONG_ID/">Play</a><br><br>
                <p>11/14/2020</p>
            </div>
        </div>

    </div>
</div>
{% endblock %}