<!DOCTYPE html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/style.css">
<script src="/static/js/band.js"></script>
</head>
<body class="noselect">

    <div class="fullContainer">
        <div class="section">
            <a href="/" class="logo background">FiveBit Audio Synthesizer for Microsoft DOS</a>

            <p>{{song_data[0]}}</p>
        </div>

        <div class="section " style="margin-top: 2em">
            <div class="section">
                <div class="options">
                    <p class="tempo">Tempo: <span id="tempoIndicator">128</span></p>

                    <p id="play">Play</p>
                    <p id="pause">Pause</p>
                    <p id="stop">Stop</p>
                    <a href="/" id="exit">Exit</a>
                </div>
            </div>

            <div class="section double">
                
                    
                <div class="layers">
                    
                </div>
                
                
            </div>
            <p class="volume">Volume:<input type="range" min="0" max="100" value="50" class="slider" id="volume"> <span id="volumeIndicator">50%</span></p>
        </div>
        


    </div>
<script src="https://tonejs.github.io/build/Tone.js"></script>
<script src="/static/js/music.js"></script>
<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>    
<script src="/static/js/player.js"></script>

<script>
    initializeJson(`{{song_data[4]|safe}}`.replace("b'", '').replace("'", ''));


</script>
</body>